main {
	font-size: 0;
}

.box {
	border: 1px solid black;
	display: inline-block;
}

.half {
	width: 50%;
	height: 200px;
}

.third {
	width: 33.3%;
	height: 300px;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}

.centered{
	text-align: center;
}